<!DOCTYPE html>
<html class="h-full bg-[#d1e7dd]">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - NehuenOrganico</title>
    <link rel="icon" type="image/jpeg" href="~/images/Leaf.jpg">
</head>

<body class="h-full">
     <header >
               <partial name="_LoginPartial"/> 
    </header> 

    <div>
        @RenderBody()
    </div>

     <script>
        document.addEventListener("DOMContentLoaded", function () {
            var userMenuButton = document.getElementById("user-menu-button");
            var userMenu = document.getElementById("user-menu");

            var mobileMenuButton = document.getElementById("mobile-menu-button");
            var mobileMenu = document.getElementById("mobile-menu");

            if (userMenuButton && userMenu && mobileMenuButton && mobileMenu) {
                userMenuButton.addEventListener("click", function () {
                    
                    userMenu.classList.toggle("hidden");
                });

                mobileMenuButton.addEventListener("click", function () {
                   
                    mobileMenu.classList.toggle("hidden");
                });
            }
        });
        function updateCartItemCount() {
            var cartCountElement = document.getElementById('cartItemCount');
            if (cartCountElement) {
                fetch('/item/ItemCount')
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            return response.text().then(text => { throw new Error(text); });
                        }
                    })
                    .then(data => {
                        cartCountElement.innerText = data;
                    })
                    .catch(error => {
                        console.error('Error al obtener el conteo de artículos del carrito:', error);
                    });
            } else {
                console.error('Elemento con ID "cartItemCount" no encontrado.');
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            updateCartItemCount(); // Actualiza el conteo del carrito cuando la página se carga
        });
    </script>

     @await RenderSectionAsync("Scripts", required: false) 
</body>
</html>