<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] - NehuenOrganico</title>
</head>

<body class="h-full">
     <header >
               <partial name="_LoginPartial"/> 
    </header> 

    <div>
        @RenderBody()
    </div>

     <script>
        document.addEventListener("DOMContentLoaded", function () {
            var userMenuButton = document.getElementById("user-menu-button");
            var userMenu = document.getElementById("user-menu");

            var mobileMenuButton = document.getElementById("mobile-menu-button");
            var mobileMenu = document.getElementById("mobile-menu");

            if (userMenuButton && userMenu && mobileMenuButton && mobileMenu) {
                userMenuButton.addEventListener("click", function () {
                    console.log("User Menu Clicked");
                    userMenu.classList.toggle("hidden");
                });

                mobileMenuButton.addEventListener("click", function () {
                    console.log("Mobile Menu Clicked");
                    mobileMenu.classList.toggle("hidden");
                });
            }
        });
    </script> 
    <script>
        loadCartCount();
        function loadCartCount() {           
            try {
                fetch(`/orders/GetTotalItemInCart`)
                    .then(response => {
                        if (response.status === 200) {

                            return response.json();
                        } else {
                            throw new Error('Error en la respuesta del servidor');
                        }
                    })
                    .then(result => {
                        var cartCountElement = document.getElementById("cartCount");
                        cartCountElement.innerHTML = result;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
     @await RenderSectionAsync("Scripts", required: false) 
</body>
</html>