@model List<Product>
@{
    ViewData["Title"] = "Catalogo";
}

<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900 items-center">Customers also purchased</h2>

        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            @foreach (var product in Model)
            {
                <div class="flex flex-col rounded-lg">
                    <div class="mt-4 flex flex-col">
                        <div>
                            <h3 class="text-sm text-gray-700 font-bold">
                                <a>
                                    <span aria-hidden="true"></span>
                                    @product.Name <!-- Usar el nombre del producto desde el modelo -->
                                </a>
                            </h3>                           
                        </div>

                        <div class="w-full rounded-lg mt-10 lg:h-80">
                            <img src="@product.ImageUrl" alt="Front of men's Basic Tee in black." class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                        </div>
                        <div class="flex justify-between mt-2">
                            <div class="flex">
                                <button id="addToCartButton_@product.ProductId" class="bg-indigo-600 text-white px-2 py-1 m-2 rounded-md hover:bg-indigo-700 addToCartButton">
                                    Agregar
                                </button>
                                <a asp-controller="Products" asp-action="edit" asp-route-id="@product.ProductId" class="bg-indigo-600 text-white px-2 py-1 m-2 rounded-md hover:bg-indigo-700">
                                    Editar
                                </a>
                            </div>
                            <p class="text-sm font-medium text-gray-900">$@product.Price</p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

    <!-- Carrito de compras -->
    <div id="cart" class="hidden relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
        <div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
            <!--
              Background backdrop, show/hide based on slide-over state.

              Entering: "ease-in-out duration-500"
                From: "opacity-0"
                To: "opacity-100"
              Leaving: "ease-in-out duration-500"
                From: "opacity-100"
                To: "opacity-0"
            -->
            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

            <div class="fixed inset-0 overflow-hidden">
                <div class="absolute inset-0 overflow-hidden">
                    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
                        <!--
                          Slide-over panel, show/hide based on slide-over state.

                          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
                            From: "translate-x-full"
                            To: "translate-x-0"
                          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
                            From: "translate-x-0"
                            To: "translate-x-full"
                        -->
                        <div class="pointer-events-auto w-screen max-w-md">
                            <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
                                <div class="flex-1 overflow-y-auto px-4 py-6 sm:px-6">
                                    <div class="flex items-start justify-between">
                                        <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
                                        <div class="ml-3 flex h-7 items-center">
                                            <button id="closeCartButton" type="button" class="relative -m-2 p-2 text-gray-400 hover:text-gray-500" aria-label="Close panel">
                                                <span class="absolute -inset-0.5"></span>
                                                <span class="sr-only">Close panel</span>
                                                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                                </svg>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="mt-8">
                                        <div class="flow-root">
                                            <ul role="list" class="-my-6 divide-y divide-gray-200">
                                                <li class="flex py-6">
                                                    <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                        <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-01.jpg" alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt." class="h-full w-full object-cover object-center">
                                                    </div>

                                                    <div class="ml-4 flex flex-1 flex-col">
                                                        <div>
                                                            <div class="flex justify-between text-base font-medium text-gray-900">
                                                                <h3>
                                                                    <a href="#">Throwback Hip Bag</a>
                                                                </h3>
                                                                <p class="ml-4">$90.00</p>
                                                            </div>
                                                            <p class="mt-1 text-sm text-gray-500">Salmon</p>
                                                        </div>
                                                        <div class="flex flex-1 items-end justify-between text-sm">
                                                            <p class="text-gray-500">Qty 1</p>

                                                            <div class="flex">
                                                                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="flex py-6">
                                                    <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                                                        <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-02.jpg" alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch." class="h-full w-full object-cover object-center">
                                                    </div>

                                                    <div class="ml-4 flex flex-1 flex-col">
                                                        <div>
                                                            <div class="flex justify-between text-base font-medium text-gray-900">
                                                                <h3>
                                                                    <a href="#">Medium Stuff Satchel</a>
                                                                </h3>
                                                                <p class="ml-4">$32.00</p>
                                                            </div>
                                                            <p class="mt-1 text-sm text-gray-500">Blue</p>
                                                        </div>
                                                        <div class="flex flex-1 items-end justify-between text-sm">
                                                            <p class="text-gray-500">Qty 1</p>

                                                            <div class="flex">
                                                                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>

                                                <!-- More products... -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                                    <div class="flex justify-between text-base font-medium text-gray-900">
                                        <p>Subtotal</p>
                                        <p>$262.00</p>
                                    </div>
                                    <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
                                    <div class="mt-6">
                                        <a href="#" class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700">Checkout</a>
                                    </div>
                                    <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                                        <p>
                                            or
                                            <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                                                Continue Shopping
                                                <span aria-hidden="true"> &rarr;</span>
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts {    
<script>
    // Obtener todos los botones "Agregar" por su clase
    const addToCartButtons = document.querySelectorAll('.addToCartButton');

    // Agregar un evento clic a cada botón "Agregar"
    addToCartButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Obtener el ID del producto desde el ID del botón
            const productId = button.id.split('_')[1];

            // Simular la apertura del carrito de compras
            const cart = document.getElementById('cart');
            cart.classList.remove('hidden');
        });
    });
        // Obtener el botón de cierre del carrito
        const closeCartButton = document.querySelector('#cart button[aria-label="Close panel"]');

        // Agregar evento clic al botón de cierre del carrito
        closeCartButton.addEventListener('click', () => {
            // Ocultar el carrito de compras
            const cart = document.getElementById('cart');
            cart.classList.add('hidden');
        });
</script>
}